body {
	background: #144e8c;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	height: auto;
	width: 100%;
}

.wrapper {
	border-top: 12px dashed #f47920;
	height: 100%;
	margin: auto;
	width: 100%;
}

.container {
	margin: 95px auto 0;
	width: 280px;
}

.login {
	margin: 80px auto 0;
	width: 100%;
	max-width: 280px;
}

.login__title {
	color: #50b848;
	font-size: 1.9em;
	font-weight: 700;
	line-height: 1.1em;
	margin-left: 95px;
	position: relative;
}

.login__title span {
	font-style: italic;
	font-weight: 300;
}

.login__title:before {
	content: url(../images/brand.png);
	position: absolute;
	left: -95px;
	top: -45px;
}

.login__form label {
	color: #f47920;
	font-style: italic;
	font-weight: 600;
}

.login__input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #144e8c;
	font-size: 0.9em;
	font-style: italic;
	border: none;
	display: block;
	height: 32px;
	margin: 5px 0;
	outline: none;
	padding: 8px;
	width: 100%;
}

.login__box--psw {
	float: left;
	margin: 14px 0;
	width: 205px;
}

::-webkit-input-placeholder {
	color: #144e8c;
	font-size: 0.8em;
	font-style: normal;
}

::-moz-input-placeholder {
	color: #144e8c;
	font-size: 0.8em;
	font-style: normal;
}

.btn__login {
	background: #f47920;
	border: 0;
	color: #fff;
	cursor: pointer;
	float: right;
	font-family: 'Rubik',sans-serif;
	font-size: 0.8em;
	font-weight: 500;
	height: 34px;
	margin: 40px 0 0;
	padding: 0 8px;
}

.login__error {
	color: #ffdd00;
	clear: both;
	margin: 25px 0;
}

.login__error__report {
	font-style: italic;
	font-weight: 300;
}

.login__error__report span {
	font-style: normal;
	font-weight: 600;
	text-transform: uppercase;
}

.state__in {
	background: #50b848;
}

.header--default {
	background: #ffdd00;
	position: relative;
	height: 50px;
	width: 100%;
}

/* >>> MENU MOBILE <<< */

.hamburger-menu {
	background: none;
	border: 0;
	margin: 10px;
	outline: none;
}

.close-menu {
	background: #144e8c;
	border: 0;
	border-radius: 50%;
	color: #fff;
	font-size: 20px;
	outline: none;
	padding: 4px 12px;
	position: absolute;
	top: -15px;
	right: -10px;
}

.navbar--xs {
	background: #f47920;
	margin: 0;
	position: absolute;
	top: 30px;
	left: -250px;
	width: 240px;
	z-index: 999;
	transition: all 0.8s ease-in-out;
}

.navbar--xs .navbar--mobile {
	margin: 0;
	padding: 2px 10px;
	z-index: 999;
}

.navbar--xs .navbar__item--mobile {
	list-style: none;
	margin: 5px 0;
	text-transform: uppercase;
	border-bottom: 2px solid #d96b1b;
	padding: 6px 0 10px;
}

.navbar--xs .navbar__item--mobile:last-child {
	border-bottom: 0;
}

.navbar--xs .navbar__item--mobile .navbar__link--mobile {
	color: #fff;
	font-family: "Rubik", sans-serif;
	font-size: 20px;
	font-weight: 100;
	text-decoration: none;
}

.navbar--xs .navbar__item--mobile .navbar__link--mobile span {
	font-family: "Open Sans", sans-serif;
	font-style: italic;
	font-weight: 700;
	text-transform: lowercase;
}

.navbar--xs .navbar__item--mobile .navbar__logout--mobile {
	color: #ffdd00;
	font-size: 16px;
	font-style: italic;
	font-weight: 100;
	text-transform: initial;
}

.navbar--xs.active {
	left: 0;
}

.brand--xs {
	position: absolute;
	top: 15px;
	right: 12px;
}

.navbar {
	background: #fff;
	position: absolute;
	top: 40px;
	height: 30px;
	width: 100%;
	z-index: -1;
}

.navbar--default {
	display: none;
	list-style: none;
	position: relative;
}

.navbar__item {
	display: inline-block;
	height: 18px;
	margin-top: 3px;
	padding: 0 15px 3px 15px;
}

.navbar__item:nth-child(2) {
	border-left: 2px solid #50b848;
	border-right: 2px solid #50b848;
}

.navbar__item .navbar__link {
	color: #50b848;
	font-style: italic;
	font-weight: 100;
	text-decoration: none;
}

.navbar__item .navbar__link span {
	font-weight: bold;
}

.navbar__item .navbar__link:hover {
	color: #f47920;
}

.navbar__item .current__link {
	color: #f47920;
}

.navbar__item--logout {
	position: absolute;
	left: 500px;
}

.navbar__item--logout .navbar__link {
	color: #989898;
	font-style: italic;
}

.navbar__item--logout .navbar__link:hover {
	color: #144e8c;
}

/*
******************** MAIN
*/

.wrapper__default {
	margin: 0 auto;
	width: 280px;
}

.register__top {
	border-bottom: 2px solid #43a83b;
	margin-top: 50px;
}

.register__top__title {
	color: #144e8c;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
	line-height: 36px;
}

.register__top__title span {
	font-style: italic;
	font-weight: 100;
}

.register__top__title span .result__word {
	color: #fff;
}

.register__square__block {
	margin: 15px 0;
}

.register__square__block legend {
	color: #fff;
	display: block;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-style: italic;
	font-weight: 600;
}

.register__square__block legend span {
	font-size: 16px;
	font-weight: 100;
}

.register__square--options {
	justify-content: flex-start;
}

.register__square--options .register__input--tipos {
	margin-top: 10px;
	width: 180px;
}

.register__square--options .register__input--tipos label {
	color: #fff;
	text-align: left;
}

.register__square--flexbox {
	-webkit-display: flex;
	-moz-display: flex;
	display: flex;
	flex-wrap: wrap;
}

.register__square--options {
	margin: 25px auto;
}

.register__input {
	margin: 23px 0 0 0;
}

.register__input label span {
	font-weight: 100;
}

.register__input__title {
	color: #fff;
	display: block;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-style: italic;
	font-weight: 600;
}

.register__input--default {
	border: 0;
	box-sizing: border-box;
	color: #144e8c;
	font-family: "Open Sans", sans-serif;
	margin: 4px 0;
	padding: 5px 10px;
	outline: none;
	height: 35px;
	width: 265px;
}

.register__input--cep {
	max-width: 110px;
}

.register__input--nota {
	width: 60px;
}

.register__input--about textarea {
	border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #50b848;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-style: italic;
	font-weight: 200;
	outline: none;
	padding: 6px;
	resize: none;
	width: 265px;
}

.register__input--picture {
	background: #fff;
	float: left;
	margin: 8px 0;
	max-height: 40px;
	max-width: 265px;
}

.register__input--picture input {
	border: 0;
	float: left;
	width: 222px;
}

.btn {
	border: 0;
	color: #fff;
	cursor: pointer;
	font-family: "Rubik", sans-serif;
	font-size: 15px;
	font-weight: bold;
	outline: none;
	padding: 14px;
	text-transform: uppercase;
}

.upload__btn {
	background: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: right;
	height: 38px;
	margin: 3px 0;
	padding: 2px 6px;
}

.register__btn {
	background: #f47920;
	clear: both;
	margin: 20px 0;
	transition: all 0.2s ease-in;
}

.modal__overlay {
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all .5s ease-in;
	z-index: 2;
}

.modal,
.modal--delete {
	background: #f47920;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 30px 0;
	position: fixed;
	top: 150px;
	text-align: center;
	height: 240px;
	width: 100%;
	max-width: 270px;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	transition: all .5s ease-in;
}

.modal h4,
.modal--delete h4 {
	color: #fff;
	font-size: 17px;
	margin: 15px 0;
}

.modal h5,
.modal--delete h5 {
	color: #fff;
	font-size: 16px;
	font-style: italic;
	font-weight: 100;
	margin: 15px 0;
}

.modal h5 span,
.modal--delete h5 span {
	color: #ffdd00;
}

.modal .btn--proceed,
.modal--delete .btn--proceed {
	background: #50b848;
}

.modal .btn--proceed span,
.modal--delete .btn--proceed span {
	font-style: italic;
	font-weight: 100;
}

.modal .btn__delete__cancel,
.modal--delete .btn__delete__cancel {
	background: none;
}

.modal .btn__delete__cancel span,
.modal--delete .btn__delete__cancel span {
	font-style: italic;
	font-weight: 100;
}

.modal.active,
.modal--delete.active,
.modal__overlay.active {
	opacity: 1;
	visibility: visible;
}

.edit__picture {
	margin: 15px 15px 10px 0;
	position: relative;
	height: 146px;
	width: 270px;
}

.edit__picture img {
	height: auto;
	width: 100%;
}

.btn__picture--delete {
	position: absolute;
	background: #144e8c;
	border: 0;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	outline: none;
	padding: 0 6px 6px 6px;
	top: -10px;
	right: -10px;
	height: 25px;
	width: 25px;
	z-index: 999;
}

.edit__picture__box {
	position: absolute;
	top: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.edit__picture--delete,
.edit__picture--delete--active {
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: -270px;
	text-align: center;
	transition: all .6s ease-in;
}

.edit__picture--delete h4,
.edit__picture--delete--active h4 {
	color: #ffdd00;
	font-size: 22px;
	font-style: italic;
	margin: 10px 0 15px;
}

.edit__picture--delete h4 span,
.edit__picture--delete--active h4 span {
	font-weight: 100;
}

.edit__picture--delete .btn__picture--confirmdel,
.edit__picture--delete--active .btn__picture--confirmdel {
	background: #f47920;
	display: block;
	cursor: pointer;
	font-size: 12px;
	margin: 0 auto 10px;
}

.edit__picture--delete .btn__picture--confirmdel span,
.edit__picture--delete--active .btn__picture--confirmdel span {
	font-style: italic;
	font-weight: 100;
}

.edit__picture--delete .btn__picture__cancel,
.edit__picture--delete--active .btn__picture__cancel {
	background: none;
	color: #fff;
	cursor: pointer;
	font-family: "Rubik", sans-serif;
	font-size: 13px;
	font-weight: bold;
	outline: none;
	padding: 0;
	text-decoration: none;
	text-transform: uppercase;
}

.edit__picture--delete .btn__picture__cancel span,
.edit__picture--delete--active .btn__picture__cancel span {
	font-style: italic;
	font-weight: 100;
}

.edit__picture--delete--active {
	left: 0;
}

.list__table {
	display: table;
	margin: 25px auto;
	width: 265px;
}

.list__table__header,
.list__table__item {
	display: table-row;
}

.list__table__cell {
	display: table-cell;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 36px;
	padding: 8px 5px 0;
	text-align: center;
}

.list__table__cell:nth-child(1) {
	display: none;
	width: 46px;
}

.list__table__cell:nth-child(2) {
	display: none;
	width: 176px;
}

.list__table__cell:nth-child(3) {
	width: 211px;
}

.list__table__cell:nth-child(4) {
	display: none;
	width: 225px;
}

.list__table__cell__title {
	color: #fff;
	font-family: 'Open Sans',sans-serif;
	font-style: italic;
	font-weight: 600;
	text-align: left;
}

.list__table__content {
	display: table-cell;
	margin: 0;
	padding: 0;
	height: 34px;
}

.list__off__xs {
	display: none;
}

.list__table__input {
	border: 0;
	color: #144e8c;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 36px;
	margin: 0 2px;
	padding: 4px 8px;
	outline: none;
}

.list__table__input--id {
	width: 0;
	display: none;
}

.list__table__input--type {
	width: 0;
	display: none;
}

.list__table__input--name1 {
	width: 190px;
}

.list__table__input--name2 {
	width: 0;
	display: none;
}

.list__table--edit,
.list__table--del {
	border: 0;
	padding: 7px 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	position: relative;
	height: 36px;
	width: 35px;
}

.list__table--edit .list__btn--edit,
.list__table--del .list__btn--edit,
.list__table--del .list__btn--del {
	background: #144e8c;
	border: 0;
	cursor: pointer;
	outline: none;
	position: absolute;
	height: 36px;
	top: 0;
	left: 0;
	padding: 8px 4px 8px 0;
	width: 37px;
}

.list__table--del .list__btn--del {
	background: #f47920;
}

.pagination {
	margin: 0 auto 100px;
	width: 300px;
}

.pagination nav ul {
	list-style: none;
}

.pagination nav ul li {
	display: inline-block;
	font-family: 'Rubik', sans-serif;
	margin: 0 15px;
}

.pagination nav ul li:nth-child(1) {
	margin: 0 15px 0 0;
}

.pagination nav ul li a {
	color: #144e8c;
	font-size: 22px;
	font-weight: 500;
	text-decoration: none;
}

.pagination nav ul li .current__page {
	color: #fff;
}

.search__fail {
	margin: 50px auto;
}

.flexbox__search {
	display: block;
}

.search__fail__resume p {
	color: #fff;
	font-size: 24px;
	font-style: italic;
	font-weight: 600;
	letter-spacing: 1px;
}

.search__fail__resume p span {
	font-weight: 100;
}

/*# sourceMappingURL=adminstyle.css.map */

@media (min-width: 768px) {

body {
	background: url(../images/bg_login.png), #144e8c;
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	width: 100%;
}

.wrapper {
	border-top: none;
}

.container {
	margin: 225px auto 0;
	height: 100%;
	width: 460px;
}

.login {
	max-width: 460px;
}

.login__title {
	font-size: 2em;
	margin-left: 110px;
}

.login__input {
	font-size: 1em;
	height: 36px;
}

.login__box {
	margin-left: 110px;
}

.login__box--psw {
	margin: 14px 0 0 110px;
	width: 258px;
}

.btn__login {
	height: 36px;
}

.login__error {
	margin: 25px 0 0 110px;
	padding-top: 5px;
}

.hamburger-menu {
	display: none;
}

.navbar--xs {
	display: none;
}

.brand--xs {
	display: none;
}

.navbar {
	height: 30px;
	top: 50px;
	z-index: 0;
}

.navbar--default {
	display: block;
	margin: 2px 0 0 100px;
	padding: 0;
}

.navbar--default:before {
	content: url(../images/logo_admin.png);
	position: absolute;
	padding: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #50b848;
	left: -105px;
	top: -40px;
	border-radius: 50%;
	border: 12px solid #fff;
	height: 105px;
	width: 105px;
}

.wrapper__default {
	width: 744px;
}

.register__top {
	margin-top: 100px;
}

.register__square__block legend {
	width: 100%;
}

.register__input {
	margin: 25px 22px 0 0;
}

.register__input--default {
	width: 350px;
}

.register__input--city {
	max-width: 215px;
}

.register__input--phone {
	max-width: 165px;
}

.register__input--nota {
	max-width: 165px;
}

.register__input--about textarea {
	width: 343px;
}

.register__input--picture input {
	width: 675px;
}

.register__input--picture {
	max-width: 720px;
}

.register__btn:hover {
	background: #144e8c;
}

.modal,
.modal--delete {
	height: 270px;
	max-width: 720px;
}

.modal h4,
.modal--delete h4 {
	font-size: 30px;
}

.modal h5,
.modal--delete h5 {
	font-size: 30px;
}

.edit__picture {
	height: 195px;
	width: 350px;
}

.edit__picture--delete,
.edit__picture--delete--active {
	left: -350px;
}

.edit__picture--delete h4,
.edit__picture--delete--active h4 {
	font-size: 28px;
	margin: 35px 0 15px;
}

.edit__picture--delete .btn__picture--confirmdel,
.edit__picture--delete--active .btn__picture--confirmdel {
	font-size: 13px;
	margin: 0 0 20px 90px;
}

.list__table {
	width: 744px;
}

.list__table__cell:nth-child(1) {
	display: table-cell;
}

.list__table__cell:nth-child(2) {
	display: table-cell;
}

.list__table__cell:nth-child(4) {
	display: table-cell;
}

.list__off__xs {
	display: table-cell;
}

.list__table__input--id {
	display: table-cell;
	width: 42px;
}

.list__table__input--type {
	display: table-cell;
	width: 176px;
}

.list__table__input--name1 {
	width: 211px;
}

.list__table__input--name2 {
	display: table-cell;
	width: 225px;
	margin: 0 0 0 2px;
}

.flexbox__search {
	-webkit-display: flex;
	-moz-display: flex;
	display: flex;
}

.search__fail__resume {
	padding: 60px 40px;
}

.search__fail__resume p {
	font-size: 26px;
}

}

@media (max-width: 768px) {

.list__table__content {
	width: 190px;
}

}

