.edit__picture{
	margin: 15px 15px 10px 0;
	position: relative;
	height: 146px;
	width: 270px;
	@media (min-width: 768px) {
		height: 195px;
		width: 350px;
	}
	img{
		height: auto;
		width: 100%;
	}
}
.btn__picture--delete{
	position: absolute;
	background: $joga_blue;
	border: 0;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	outline: none;
	padding: 0 6px 6px 6px;
	top: -10px;
	right: -10px;
	height: 25px;
	width: 25px;
	z-index: 999;
}
.edit__picture__box{
	position: absolute;
	top: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.edit__picture--delete{
	background: rgba(0,0,0, .7);
	color: #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: -270px;
	text-align: center;
	transition: all .6s ease-in;
	h4{
		color: $joga_yellow;
		font-size: 22px;
		font-style: italic;
		margin: 10px 0 15px;
		span{
			font-weight: 100;
		}
	}
	@media (min-width: 768px) {
		left: -350px;
		h4{
			font-size: 28px;
			margin: 35px 0 15px;	
		}
	}
	.btn__picture--confirmdel{
		background: $joga_orange;
		display: block;
		cursor: pointer;
		font-size: 12px;
		margin: 0 auto 10px;
		span{
			font-style: italic;
			font-weight: 100;
		}
		@media (min-width: 768px) {
			font-size: 13px;
			margin: 0 0 20px 90px;
		}
	}
	.btn__picture__cancel{
		background: none;
		color: #fff;
		cursor: pointer;
		font-family: $font_rubik;
		font-size: 13px;
		font-weight: bold;
		outline: none;
		padding: 0;
		text-decoration: none;
		text-transform: uppercase;
		span{
			font-style: italic;
			font-weight: 100;
		}
	}
}
.edit__picture--delete--active{
	@extend .edit__picture--delete;
	left: 0;
}
.edit__state{
	height: 50px;
	position: relative;
}
.edit__state h5{
	color: #fff;
	display: inline-block;
	font-family: $font_open;
	font-size: 16px;
	font-weight: 400;
	position: absolute;
	top: -10px;
}
.edit__state .switch{
	display: inline-block;
	position: relative;
}
.edit__state .switch > label{
	background: #fff;
	border: 0;
	display: block;
	position: relative;
	margin: 8px 0 0 150px;
	width: 90px;
	height: 36px;
	transition: all .3s ease-in-out;
	&:before{
		background: $joga_blue;
		content: '';
		margin: 3px;
		width: 42px;
		height: 30px;
		position: absolute;
		transition: all .3s ease-in-out;
	}
	&:after{
		content: 'NÃO';
		color: $joga_orange;
		position: absolute;
		right: 0;
		margin: 8px 5px;
		z-index: 1;
	}
}
.edit__state .switch input{
	position: absolute;
	display: none;
}
.edit__state .switch input:checked + label{
	background: $joga_orange;
	&:before{
		content: '';
		background: $joga_blue;
		position: absolute;
		margin: 3px;
		width: 42px;
		height: 30px;
		margin-left: 42px;
		z-index: 2;
	}
	&:after{
		content: 'SIM';
		color: #fff;
		position: absolute;
		left: 0;
		margin: 8px 5px;
		z-index: 1;
	}
}