.list__table{
	display: table;
	margin: 25px auto;
	width: 744px;
}
.list__table__header , .list__table__item{
	display: table-row;
}
.list__table__cell{
	display: table-cell;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 36px;
	padding: 8px 5px 0;
	text-align: center;
	&:nth-child(1){ 
		width: 46px;
	}
	&:nth-child(2){
		width: 176px;
	}
	&:nth-child(3){
		width: 211px;
	}
	&:nth-child(4){
		width: 225px;
	}
}
.list__table__cell__title{
	color: #fff;
	font-family: 'Open Sans',sans-serif;
	font-style: italic;
	font-weight: 600;
	text-align: left;
}

.list__table__content{
	display: table-cell;
	margin: 0;
	padding: 0;
	height: 34px;
}
.list__table__input{
	border: 0;
	color: $joga_blue;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 36px;
	margin: 0 2px;
	padding: 4px 8px;
	outline: none;
}
.list__table__input--id{
	width: 42px;
}
.list__table__input--type{
	width: 176px;
}
.list__table__input--name1{
	width: 211px;
}
.list__table__input--name2{
	margin: 0 0 0 2px;
	width: 225px;
}
.list__table--edit{
	border: 0;
	padding: 7px 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	position: relative;
	height: 36px;
	width: 35px;
	&:before{
		// content: url(../images/icon_edit.png);
		// position: absolute;
		// top: 8px;
		// left: 8px;
		// z-index: 1;
	}
	.list__btn--edit{
		background: $joga_blue;
		border: 0;
		cursor: pointer;
		outline: none;
		position: absolute;
		height: 36px;
		top: 0;
		left: 0;
		padding: 8px 4px 8px 0;
		width: 37px;
	}
}
.list__table--del{
	@extend .list__table--edit;
	// &:before{
	// 	content: url(../images/icon_del.png);
	// 	position: absolute;
	// 	top: 8px;
	// 	left: 8px;
	// 	z-index: 1;
	// }
	.list__btn--del{
		@extend .list__btn--edit;
		background: $joga_orange;
	}
}
.pagination{
	margin: 0 auto 100px;
	width: 300px;
	nav{
		ul{
			list-style: none;
			li{
				display: inline-block;
				font-family: 'Rubik', sans-serif;
				margin: 0 15px;
				&:nth-child(1){
					margin: 0 15px 0 0;
				}
				a{
					color: $joga_blue;
					font-size: 22px;
					font-weight: 500;
					text-decoration: none;
				}
				.current__page{
					color: #fff;
				}
			}
		}
	}
}
.search__fail{
	margin: 50px auto;
}
.flexbox__search{
	@include flexbox;
}
.search__fail__resume{
	padding: 60px 40px;
	p{
		color: #fff;
		font-size: 26px;
		font-style: italic;
		font-weight: 600;
		letter-spacing: 1px;
		span{
			font-weight: 100;
		}
	}
}

