.state__in{
	background: $joga_green;
}
.header--default{
	background: $joga_yellow;
	position: relative;
	height: 50px;
	width: 100%;
}
/* >>> MENU MOBILE <<< */
.hamburger-menu{
	background: none;
	border: 0;
	margin: 10px;
	outline: none;
	@media (min-width: 768px) {
		display: none;
	}
}
.close-menu{
	background: $joga_blue;
	border: 0;
	border-radius: 50%;
	color: #fff;
	font-size: 20px;
	outline: none;
	padding: 4px 12px;
	position: absolute;
	top: -15px;
	right: -10px;
}
.navbar--xs{
	background: $joga_orange;
	margin: 0;
	position: absolute;
	top: 30px;
	left: -250px;
	width: 240px;
	z-index: 999;
	transition: all 0.8s ease-in-out;
	@media (min-width: 768px) {
		display: none;
	}
	.navbar--mobile{
		margin: 0;
		padding: 2px 10px;
		z-index: 999;
	}
	.navbar__item--mobile{
		list-style: none;
		margin: 5px 0;
		text-transform: uppercase;
		border-bottom: 2px solid #d96b1b;
		padding: 6px 0 10px;
		&:last-child{
			border-bottom: 0;
		}
		.navbar__link--mobile{
			color: #fff;
			font-family: $font_rubik;
			font-size: 20px;
			font-weight: 100;
			text-decoration: none;
			span{
				font-family: $font_open;
				font-style: italic;
				font-weight: 700;
				text-transform: lowercase;
			}
		}
		.navbar__logout--mobile{
			color: $joga_yellow;
			font-size: 16px;
			font-style: italic;
			font-weight: 100;
			text-transform: initial;
		}
	}
}
.navbar--xs.active{
	left: 0;
}
.brand--xs{
	position: absolute;
	top: 15px;
	right: 12px;
	@media (min-width: 768px) {
		display: none;
	}
}
.navbar{
	background: #fff;
	position: absolute;
	top: 40px;
	height: 30px;
	width: 100%;
	z-index: -1;
	@media (min-width: 768px) {
		height: 30px;
		top: 50px;
		z-index: 0;
	}
}

.navbar--default{
	display: none;
	list-style: none;
	position: relative;
	@media (min-width: 768px) {
		display: block;
		margin: 2px 0 0 100px;
		padding: 0;
		&:before{
			content: url(../images/logo_admin.png);
			position: absolute;
			padding: 15px;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			background: $joga_green;
			left: -105px;
			top: -40px;
			border-radius: 50%;
			border: 12px solid #fff;
			height: 105px;
			width: 105px;
		}
	}
}
.navbar__item{
	display: inline-block;
	height: 18px;
	margin-top: 3px;
	padding: 0 15px 3px 15px;
	&:nth-child(2){
		border-left: 2px solid $joga_green;
		border-right: 2px solid $joga_green; 
	}
	.navbar__link{
		color: $joga_green;
		font-style: italic;
		font-weight: 100;
		text-decoration: none;
		span{
			font-weight: bold;
		}
		&:hover{
			color: $joga_orange;
		}
	}
	.current__link{
		color: $joga_orange;
	}
}
.navbar__item--logout{
	position: absolute;
	left: 500px;
	.navbar__link{
		color: #989898;
		font-style: italic;
		&:hover{
			color: $joga_blue;
		}
	}
}


/*
******************** MAIN
*/
.wrapper__default{
	@include grid;
}
.register__top{
	border-bottom: 2px solid #43a83b;
	margin-top: 50px;
	@media (min-width: 768px) {
		margin-top: 100px;	
	}
}
.register__top__title{
	color: $joga_blue;
	font-family: $font_open;
	font-weight: 800;
	line-height: 36px;
	span{
		font-style: italic;
		font-weight: 100;
		.result__word{
			color: #fff;
		}
	}
}
.register__square__block{
	margin: 15px 0;
	legend{
		color: #fff;
		display: block;
		font-family: $font_open;
		font-size: 18px;
		font-style: italic;
		font-weight: 600;
		@media (min-width: 768px) {
			width: 100%;
		}
		span{
			font-size: 16px;
			font-weight: 100;
		}
	}
}
.register__square--options{
	justify-content: flex-start;
	.register__input--tipos{
		margin-top: 10px;
		width: 180px;
		label{
			color: #fff;
			text-align: left;
		}
	}
}
.register__square--flexbox{
	@include flexbox;
	flex-wrap: wrap;
}
.register__square--options{
	margin: 25px auto;
}
.register__input{
	margin: 23px 0 0 0;
	label{
		span{
			font-weight: 100;
		}
	}
	@media (min-width: 768px) {
		margin: 25px 22px 0 0;
	}
}
.register__input__title{
	color: #fff;
	display: block;
	font-family: $font_open;
	font-size: 18px;
	font-style: italic;
	font-weight: 600;
}
.register__input--default{
	border: 0;
	box-sizing: border-box;
	color: $joga_blue;
	font-family: $font_open;
	margin: 4px 0;
	padding: 5px 10px;
	outline: none;
	height: 35px;
	width: 265px;
	@media (min-width: 768px) {
		width: 350px;
	}
}

.register__input--cep{
	max-width: 110px;
}
.register__input--city{
	@media (min-width: 768px) {
		max-width: 215px;
	}
}
.register__input--phone{
	@media (min-width: 768px) {
		max-width: 165px;
	}
}
.register__input--nota{
	width: 60px;
	@media (min-width: 768px) {
		max-width: 165px;
	}
}
.register__input--about{
	textarea{
		border: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		color: $joga_green;
		font-family: $font_open;
		font-size: 18px;
		font-style: italic;
		font-weight: 200;
		outline: none;
		padding: 6px;
		resize: none;
		width: 265px;
		@media (min-width: 768px) {
			width: 343px;
		}
	}
}
.register__input--picture{
	background: #fff;
	float: left;
	margin: 8px 0;
	max-height: 40px;
	max-width: 265px;
	input{
		border: 0;
		float: left;
		width: 222px;
		@media (min-width: 768px) {
			width: 675px;
		}
	}
	@media (min-width: 768px) {
		max-width: 720px;
	}
}
.btn{
	border: 0;
	color: #fff;
	cursor: pointer;
	font-family: $font_rubik;
	font-size: 15px;
	font-weight: bold;
	outline: none;
	padding: 14px;
	text-transform: uppercase;
}.upload__btn{
	background: none;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	float: right;
	height: 38px;
	margin: 3px 0;
	padding: 2px 6px;
}
.register__btn{
	background: $joga_orange;
	clear: both;
	margin: 20px 0;
	transition: all 0.2s ease-in;
	@media (min-width: 768px) {
		&:hover{
			background: $joga_blue;
		}
	}
}
.modal__overlay{
	background: rgba(0,0,0, .7);
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all .5s ease-in;
	z-index: 2;
}

.modal, .modal--delete{
	background: $joga_orange;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 30px 0;
	position: fixed;
	top: 150px;
	text-align: center;
	height: 240px;
	width: 100%;
	max-width: 270px;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	transition: all .5s ease-in;
	h4{
		color: #fff;
		font-size: 17px;
		margin: 15px 0;
	}
	h5{
		color: #fff;
		font-size: 16px;
		font-style: italic;
		font-weight: 100;
		margin: 15px 0;
		span{
			color: $joga_yellow;
		}
	}
	@media (min-width: 768px) {
		height: 270px;
		max-width: 720px;
		h4{
			font-size: 30px;
		}
		h5{
			font-size: 30px;
		}
	}
	.btn--proceed{
		background: $joga_green;
		span{
			font-style: italic;
			font-weight: 100;
		}
	}
	.btn__delete__cancel{
		background: none;
		span{
			font-style: italic;
			font-weight: 100;
		}
	}
}
.modal.active,
.modal--delete.active,
.modal__overlay.active{
	opacity: 1;
	visibility: visible;
}